.grid-collection{
    display: grid;
    gap: 1rem;
    margin-top: 30px;
}
.grid-two-coloums-collection{
    grid-template-columns: repeat(2 , 1fr);
}
.collection-section p{
    font-size: 13px;
    width: 92%;
    text-align: center;
    opacity: 0.9;
}
.collection-section h3{
    text-align: center;
}
.collection-img  img{
    width: 100%;
    transition: all 0.5s ease;
    overflow: hidden;
    object-fit: cover;
}
.collection-img:hover{
    cursor: pointer;
    /* transform: scale(1); */
}
@media (max-width:767px) {
    .grid-two-coloums-collection{
        grid-template-columns: repeat(1 , 1fr);
        margin-top: 20px;
        text-align: center;
    }
}
.img_hover{
    /* width: 50%;
    height: 400px; */
    background-color: lavender;
    overflow: hidden;
}
/* img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s ease-in-out;
} */
.effect_1:hover img{
    transition: all 0.9s ease;
       transform: scale(1.1);
}