.copy{
  background-color: #87CEEB;
  user-select: all;
  padding: 0;
  border: 0;
}
.scroll-fade-in {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }
  
  .scroll-fade-in.is-visible {
    opacity: 1;
    transform: translateY(0);
  }