.topbtn{
  position: relative;
}
.icon-pos{
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 20;
}

.icon-style1{
  width: 40px;
  height: 40px;
  background-color: #000;
  color: #fff;
  font-size: 10px;
  border-radius: 4px;
  transition: all 0.4s;
  cursor: pointer;
  border: 1px solid black;
}
.icon-style1:hover{
  background-color: transparent;
  color: #000;
}